<html>
<head>
    <title>Catalog Service</title>

    <style>
        .path {
            font-weight: bold;
        }
        .pathName {
            margin-bottom: 2px;
        }
        .pathDesc {
            margin-top: 2px;
        }
        .underline {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <div style="padding: 15px">
        <h1>Cloud Computing Catalog Service</h1>
        <h2>Author: Tejit Pabari</h2>

        <div style="margin-top: 20px">
            <h3>Api Paths</h3>
            <div>
                <p class="pathName">
                    <span class="path">Catalog: </span>
                    <a href="http://catalogservice-env.eba-7vfv9bgm.us-east-2.elasticbeanstalk.com/catalog">
                        /catalog
                    </a>
                </p>
                <p class="pathDesc">
                    <span class="underline">Description:</span> Shows the catalog of top 5 tutors for selected categories
                </p>
            </div>

            <div>
                <p class="pathName">
                    <span class="path">Tutors: </span>
                    <a href="http://catalogservice-env.eba-7vfv9bgm.us-east-2.elasticbeanstalk.com/tutors">
                        /tutors
                    </a>
                </p>
                <p class="pathDesc pathName">
                    <span class="underline">Description:</span> Shows list of tutors. </br>
                    Can limit and offset it.
                    <a href="http://catalogservice-env.eba-7vfv9bgm.us-east-2.elasticbeanstalk.com/tutors?limit=5&offset=2">
                        /tutors?limit=5&offset=2
                    </a> </br>
                    Can take various fields as well
                    <a href="http://catalogservice-env.eba-7vfv9bgm.us-east-2.elasticbeanstalk.com/tutors?name=Gitika%20Bose">
                        /tutors?name=Gitika%20Bose
                    </a>
                </p>
            </div>
            <div>
                <p class="pathName">
                    <span class="path">Tutors id: </span>
                    <a href="http://catalogservice-env.eba-7vfv9bgm.us-east-2.elasticbeanstalk.com/tutors/1">
                        /tutors/1
                    </a>
                </p>
                <p class="pathDesc pathName">
                    <span class="underline">Description:</span> Shows a tutor by id. Can take in various fields as well
                    <a href="http://catalogservice-env.eba-7vfv9bgm.us-east-2.elasticbeanstalk.com/tutors/1?fields=name,categories,byline,experience">
                        /tutors/1?fields=name,categories,byline,experience
                    </a>
                </p>
            </div>

            <div>
                <p class="pathName">
                    <span class="path">Categories: </span>
                    <a href="http://catalogservice-env.eba-7vfv9bgm.us-east-2.elasticbeanstalk.com/categories">
                        /categories
                    </a>
                </p>
                <p class="pathDesc pathName">
                    <span class="underline">Description:</span> Shows list of categories. </br>
                    Can limit and offset it.
                    <a href="http://catalogservice-env.eba-7vfv9bgm.us-east-2.elasticbeanstalk.com/categories?limit=2&offset=1">
                        /categories?limit=2&offset=1
                    </a>
                </p>
            </div>
            <div>
                <p class="pathName">
                    <span class="path">Categories id: </span>
                    <a href="http://catalogservice-env.eba-7vfv9bgm.us-east-2.elasticbeanstalk.com/categories/1">
                        /categories/1
                    </a>
                </p>
            </div>
        </div>

    </div>


</body>
</html>
