<html>
<head>
    <title>Catalog Service</title>
</head>
<body>
    <div style="padding: 15px">
        <h1>Cloud Computing Catalog Service</h1>
        <h2>Author: Tejit Pabari</h2>

        <div style="margin-top: 20px">
            <h3>Api Paths</h3>
            <p><strong>Tutors: </strong>/tutors?column=columnValue&fields=columns</p>
            <p><strong>Tutor Profile:</strong>/tutors/profile/username</p>
            <p><strong>Add Tutor: </strong>/tutors/add?username=username&email=email&name=trialname</p>
            <p><strong>Delete Tutor: </strong>/tutors/delete/username_or_email</p>
            <p><strong>Update Tutor: </strong>/tutors/update/username_or_email?username=updated_user_name</p>
        </div>

    </div>


</body>
</html>